In [27]:
import COVID19Py
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
covid = COVID19Py.COVID19()

In [2]:
latest = covid.getLatest()

In [100]:
ug_location = covid.getLocationByCountryCode("UG")

In [101]:
ug_location

[{'id': 214,
  'country': 'Uganda',
  'country_code': 'UG',
  'country_population': 33398682,
  'province': '',
  'last_updated': '2020-04-06T16:25:48.571781Z',
  'coordinates': {'latitude': '1.0', 'longitude': '32.0'},
  'latest': {'confirmed': 52, 'deaths': 0, 'recovered': 0}}]

In [83]:
ug_frame = pd.DataFrame.from_dict(ug_location)

In [84]:
ug_frame.head()

,coordinates,country,country_code,country_population,id,last_updated,latest,province,timelines
0,"{'latitude': '1.0', 'longitude': '32.0'}",Uganda,UG,33398682,214,2020-04-06T15:25:42.468263Z,"{'confirmed': 52, 'deaths': 0, 'recovered': 0}",,"{'confirmed': {'latest': 52, 'timeline': {'202..."

In [85]:
ug_frame['coordinates'].apply(pd.Series)

  latitude longitude
0      1.0      32.0

In [86]:
ug_frame['latest'].apply(pd.Series)

   confirmed  deaths  recovered
0         52       0          0

In [93]:
ug_frame['timelines'].apply(pd.Series)

,confirmed,deaths,recovered
0,"{'latest': 52, 'timeline': {'2020-01-22T00:00:...","{'latest': 0, 'timeline': {'2020-01-22T00:00:0...","{'latest': 0, 'timeline': {}}"

In [57]:
ug_frame = pd.concat([ug_frame.drop(['coordinates'], axis=1), ug_frame['coordinates'].apply(pd.Series)], axis=1)

In [58]:
ug_frame=pd.concat([ug_frame.drop(['latest'], axis=1), ug_frame['latest'].apply(pd.Series)], axis=1)

In [59]:
ug_frame.head()

,country,country_code,country_population,id,last_updated,province,latitude,longitude,confirmed,deaths,recovered
0,Uganda,UG,33398682,214,2020-04-06T15:25:42.468263Z,,1.0,32.0,52,0,0

In [102]:
african_codes = ['DZ',
'AO',
'BJ',
'BW',
'BF',
'BI',
'CM',
'CV',
'CF',
'TD',
'CG',
'CD',
'DJ',
'EG',
'GQ',
'ER',
'SZ',
'ET',
'GA',
'GM',
'GH',
'GN',
'GW',
'CI',
'KE',
'LR',
'LY',
'MG',
'MW',
'ML',
'MR',
'MU',
'MA',
'MZ',
'NA',
'NE',
'NG',
'RW',
'SN',
'SC',
'SL',
'SO',
'ZA',
'SD',
'TZ',
'TG',
'TN',
'UG',
'ZM',
'ZW',
]

In [103]:
african_list = []
def get_african(cd):
        country = covid.getLocationByCountryCode(cd)
        african_list.append(country)
        #return pd.DataFrame.from_dict(cd)

In [104]:
for code in african_codes:
    df = get_african(code)

In [114]:
african_list[2]

[{'id': 24,
  'country': 'Benin',
  'country_code': 'BJ',
  'country_population': 9056010,
  'province': '',
  'last_updated': '2020-04-06T16:25:47.942297Z',
  'coordinates': {'latitude': '9.3077', 'longitude': '2.3158'},
  'latest': {'confirmed': 22, 'deaths': 0, 'recovered': 0}}]

In [123]:
df= pd.DataFrame(african_list)

In [124]:
df = df[0].apply(pd.Series)

In [125]:
df = pd.concat([df.drop(['coordinates'], axis=1), df['coordinates'].apply(pd.Series)], axis=1)

In [126]:
df=pd.concat([df.drop(['latest'], axis=1), df['latest'].apply(pd.Series)], axis=1)

In [127]:
df.head()

,id,country,country_code,country_population,province,last_updated,latitude,longitude,confirmed,deaths,recovered
0,2,Algeria,DZ,34586184,,2020-04-06T16:25:47.875432Z,28.0339,1.6596,1320,152,0
1,4,Angola,AO,13068161,,2020-04-06T16:25:50.869099Z,-11.2027,17.8739,14,2,0
2,24,Benin,BJ,9056010,,2020-04-06T16:25:47.942297Z,9.3077,2.3158,22,0,0
3,253,Botswana,BW,2029307,,2020-04-06T16:25:48.713391Z,-22.3285,24.6849,6,1,0
4,31,Burkina Faso,BF,16241811,,2020-04-06T16:25:50.963441Z,12.2383,-1.5616,345,17,0

In [130]:
df['last_updated'] = pd.to_datetime(df['last_updated'])

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
id                    50 non-null int64
country               50 non-null object
country_code          50 non-null object
country_population    50 non-null int64
province              50 non-null object
last_updated          50 non-null datetime64[ns, UTC]
latitude              50 non-null object
longitude             50 non-null object
confirmed             50 non-null int64
deaths                50 non-null int64
recovered             50 non-null int64
dtypes: datetime64[ns, UTC](1), int64(5), object(5)
memory usage: 4.4+ KB

In [132]:
df.head()

,id,country,country_code,country_population,province,last_updated,latitude,longitude,confirmed,deaths,recovered
0,2,Algeria,DZ,34586184,,2020-04-06 16:25:47.875432+00:00,28.0339,1.6596,1320,152,0
1,4,Angola,AO,13068161,,2020-04-06 16:25:50.869099+00:00,-11.2027,17.8739,14,2,0
2,24,Benin,BJ,9056010,,2020-04-06 16:25:47.942297+00:00,9.3077,2.3158,22,0,0
3,253,Botswana,BW,2029307,,2020-04-06 16:25:48.713391+00:00,-22.3285,24.6849,6,1,0
4,31,Burkina Faso,BF,16241811,,2020-04-06 16:25:50.963441+00:00,12.2383,-1.5616,345,17,0

In [133]:
df.describe()

               id  country_population    confirmed      deaths  recovered
count   50.000000        5.000000e+01    50.000000   50.000000       50.0
mean   148.800000        2.017742e+07   185.940000    8.880000        0.0
std     74.476678        2.786546e+07   362.509868   25.459564        0.0
min      2.000000        8.834000e+04     3.000000    0.000000        0.0
25%     98.500000        3.325064e+06    10.000000    0.000000        0.0
50%    156.500000        1.082250e+07    34.000000    1.000000        0.0
75%    209.500000        2.186655e+07   176.500000    5.000000        0.0
max    257.000000        1.540000e+08  1655.000000  152.000000        0.0

In [135]:
# African fatality rate
'{:.2f}%'.format(100 *
                df[df['last_updated'] == df['last_updated'].iloc[-1]]['deaths'].sum() /
                df[df['last_updated'] == df['last_updated'].iloc[-1]]['confirmed'].sum())

'11.11%'

In [136]:
# deaths
df[df['last_updated'] == df['last_updated'].iloc[-1]]['deaths'].sum()

1

In [137]:
# recovered
df[df['last_updated'] == df['last_updated'].iloc[-1]]['recovered'].sum()

0

In [138]:
df[df['last_updated'] == df['last_updated'].iloc[-1]]['confirmed'].sum()

9